<div>
  <div class="container mt-5">
    <div class="row">
      <section>
        <div class="setAlign d-flex">
          <div class="p-2 flex-fill bd-highlight" style="margin-top: 150px; width: 600px;">
            <h1 id="font" style=" color: darkslategrey; ">Invest in Funds</h1>
            <h4 class="mt-4 text-secondary animate__animated animate__fadeInUp">Trusted by Millions of Indians.<br>Start
              Investing Today</h4>
            <br>
            <button class="btn btn-lg animate__animated animate__fadeInUp" data-toggle="modal"
              data-target="#modalLRForm" (click)="isSignin()" id="darkgreen" style="color: #ccffcc;"><b>Get
                Started</b></button>
          </div>
          <div class="p-2 flex-fill bd-highlight" style=" width: 600px;">
            <div style="margin-left: 450px; margin-bottom: 10px;">
              <a routerLink="/funds" style="font-size: 20px;  " id="green">
                <b>View all </b></a>
            </div>
            <div>
              <div class="animate__animated animate__fadeInUp">
                <div class="row" style="margin-left:100px ;">
                  <div class="col-sm-6 mt-4" *ngFor="let fundamc of fundService.fundsAmc| slice:0:6; let i=index">
                    <div class="border-0 shadow card design pointer" routerLink="/funds" (click)="searchFund(fundamc)">
                      <div class="card-body">
                        <h5 class="card-title" id="font" style="color: darkslategrey;">{{fundamc}} Mutual Funds</h5>

                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-sm-6">
                    <div class="border-0 shadow card design pointer" routerLink="/funds">
                      <div class="card-body">
                        <h5 class="card-title" id="font" style="color: darkslategrey; ">Axis Mutual Funds</h5>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
              <!-- <div class="mt-3 animate__animated animate__fadeInUp">
                <div class="row" style="margin-left:100px ;">
                  <div class="col-sm-6">
                    <div class="border-0 shadow card design pointer" routerLink="/funds">
                      <div class="card-body">
                        <h5 class="card-title" id="font" style="color: darkslategrey; ">HDFC Mutual Funds</h5>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="border-0 shadow card design pointer" routerLink="/funds">
                      <div class="card-body">
                        <h5 class="card-title" id="font" style="color: darkslategrey; ">TATA Mutual Funds</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-3 animate__animated animate__fadeInUp" style="margin-left:117px ;">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="border-0 shadow card design pointer" routerLink="/funds">
                      <div class="card-body">
                        <h5 class="card-title" id="font" style="color: darkslategrey; ">Kotak Mutual Funds</h5>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="border-0 shadow card design pointer" routerLink="/funds">
                      <div class="card-body">
                        <h5 class="card-title" id="font" style="color: darkslategrey; ">SBI Mutual Funds</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  -->
            </div>
          </div>

        </div>

      </section>

    </div>

  </div>


</div>