<div>
    <div class="mt-3" style="background-color: #f3fff1; height:600px ;">
        <div>
            <h2 class="d-flex justify-content-center p-5" id="font" style="color: darkslategrey;">Why OneTap?</h2>
        </div>
        <div class="row" style="width:1250px">
            <div class="flip-card border-0" style="height: 350px; margin-left: 90px; border-radius: 30px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front" style="border-radius: 30px;">
                        <img src="../assets/team-leader.png" alt="team" style="width: 100px; margin-top: 30px;">
                        <h1 style="margin-top:40px ;">Strong Leadership</h1>
                    </div>
                    <div class="flip-card-back" style="border-radius: 30px;">
                        <h4 style="margin-top:120px;">Backed by Tech <br> and <br> Finance Leaders of India</h4>
                    </div>
                </div>
            </div>
            <div class="flip-card border-0" style="height: 350px; margin-left: 130px; border-radius: 30px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front" style="border-radius: 30px;">
                        <img src="../assets/low-price.png" alt="team" style="width: 100px; margin-top: 30px;">
                        <h1 style="margin-top:40px ;">Lowest<br> Fee</h1>
                    </div>
                    <div class="flip-card-back" style="border-radius: 30px;">
                        <h4 style="margin-top:120px;">Our technology driven approach – helps lower cost for our
                            investors</h4>
                    </div>
                </div>
            </div>
            <div class="flip-card border-0" style="height: 350px; margin-left: 130px; border-radius: 30px;">
                <div class="flip-card-inner">
                    <div class="flip-card-front" style="border-radius: 30px;">
                        <img src="../assets/file.png" alt="team" style="width: 100px; margin-top: 30px;">
                        <h1 style="margin-top:40px ;">Paperless<br> Setup</h1>
                    </div>
                    <div class="flip-card-back" style="border-radius: 30px;">
                        <h4 style="margin-top:120px;">Open your account <br> with no paperwork whatsoever</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>