/* You can add global styles to this file, and also import other style files */
#backgroundcyan {

    background-color:#ccffcc;
}
#cyan {

color:#ccffcc;
}
#font{
font-family: 'Passion One', cursive;
}
#white{
    color: whitesmoke;
}
#darkgreen{
    background-color: darkslategrey;
}
#green{
    color: darkslategrey;    
}
#bgreen{
    background-color: darkslategrey;
    color:#ccffcc;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
